HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/




# Build outputs & Binaries (16,000+ files yahan se ignore hongi)
target/
bin/
*.class

# Eclipse & STS files
.metadata/
.settings/
.classpath
.project

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Postman & OS files
.postman/
.DS_Store
Thumbs.db

# Frontend build & dependencies
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Uploaded documents
uploads/
backend/uploads/
